@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.menu{
  color:green;
  border:1px solid green;
  height:60vh;
  background:rgb(245, 242, 242);
  overflow-y:auto;
}
 
  .li {
    padding: 8px;
    margin-left: 10px;
    border-left: 2px solid black; /* Visual separator */
     color: green;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
  }
  
 

.g{
  color:rgb(42, 124, 42)
}

body {
  height: auto;  
  margin: 0;
  width: 100%;
  overflow-x:hidden;
  overflow-y: auto;
  min-height: 100svh;
  
}
@media(((min-width:359px) and (max-width:361px)) and ((min-height:730px) and (max-height:850px))){
  .log-top{
    top:2.86vh;

  }

}

@media(((min-width:359px) and (max-width:361px)) and ((min-height:730px) and (max-height:850px))){
  .header{
    height:20vh;
    
  }
  .lng{
    left:78vw;
    top:22vh;


  }
  .tog{
    top:20vh;
  }
  
  .main-content{
    padding-top:20vh;
  }
  .btn-emer{
    width:10.8rem;
     padding:1px;

  }
  
  .emer{
    left:50.5vw;
    top:2vh;
  }
  .m-btn{
   
    left:80vw;
  }
}

@media(min-width:361px) and (max-width:389px){
  .header{
    height:20vh;
    
  }
   .lng{
    left:78vw;
    top:22vh;


  }
  .tog{
    top:20vh;
  }
  .main-cont{
    padding-top:20vh;
  }
  .btn-emer{
    width:11rem;
    padding:1px;

  }
  .emer{
    left:50vw;
    top:2vh;
  }
  .m-btn{
   
    left:78.67vw;
    top:8.75vh;
    
  }
 
}
@media(min-width:389) and (max-width:391){
  .header{
    height:16vh
  }
   .lng{
    left:77vw;
    top:20vh;


  }
  .tog{
    top:16vh;
  }
  .main-cont{
    padding-top:16vh;
  }
   .btn-emer{
    width:12rem;

  }
  .emer{
    left:47vw;
    top:2vh;
  }
  .m-btn{
   
    left:80vw;
    top:6vh;
  }
}
@media(min-width:392px) and (max-width:480px){
  .header{
    height:16vh;
    
  }
   .lng{
    left:76vw;
    top:18vh;


  }
  .tog{
    top:16vh;
  }
  .m-btn{
   
    left:80vw;
    top:6vh;
  }
 
  .main-cont{
    padding-top:16vh;
  }
  
  .btn-emer{
    width:13rem;

  }
  .emer{
    left:48vw;
    top:2vh;
  }



}
@media(min-width:650px) and (max-width:1050px){
  .image-h{
    width:100px;
    height:100px;

  }
  .img-land{
    width:500px;
    height:500px;
  }
  .header{
    height:120px;
 ;
    

  }
  .main-cont{
    padding-top:120px;
  }
  
   .tog{
    top:120px;
   
  
  }
  .menu{
 
 
    overflow-y:auto;
    gap:2px;

  

  }
  
  
  
  .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
  
  }
  .img1{
    border-radius:4px 0 0 4px;
  }
  
}
@media(max-width:590px){
   .img-land{
    width:300px;
    height:300px;
    color:rgb(0, 0, 0)
  }
}
@media(min-width:719px) and (max-width:725px){
  .header{
    height:23vh;

  }
  
}
@media(((min-width:535px) and (max-width:545px) )and ((min-height:715px) and (max-height:725px) ) ){
  .m-btn{
   
    left:85vw;
    top:8vh;
  }
  .tog{
    top:144px;
  }
}
@media(((min-width:340px) and (max-width:349px) )and ((min-height:879px) and (max-height:885px) ) ){
  .m-btn{
   
    left:75vw;
    top:6vh;
  }
   .btn-emer{
    width:10rem;
   
    gap:0.2;

  }
  .emer{
    left:52vw;
    top:2vh;
  }
  .header{
    height:16vh;
  }
  .main-cont{
    padding-top:16vh;
  }
  .tog{
    top:16vh;
  }
}


@media(((min-width:767px) and (max-width:770px) )and ((min-height:1023px) and (max-height:1030px) ) ){
   .header{
    
    height:16vh !important;
   }
   .tog{
    top:16vh;
   }
    .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start!important;
  
  }
  .emer{
   
    left:70vw;
    top:2vh;
  }
  .main-cont{
    padding-top:16vh;
  }
    .m-btn{
   
    left:80vw;
    top:5vh;
  }
  



}
 @media(((min-width:1023px) and (max-width:1030px) )and ((min-height:767px) and (max-height:770px) ) ){
    .header{
    
    height:18vh !important;
  
   }
   .tog{
    top:18vh;
   }
    .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
  
  }
 .emer{
   
    left:78vw;
    top:2vh;
  }
  .main-cont{
    padding-top:18vh;
  }
  .m-btn{
    top:6vh;
  }
 
  

 }
 @media(((min-width:819px) and (max-width:825px) ) and ((min-height:1175px) and (max-height:1185px) ) ){
  .header{
 
    height:12vh;
  }
  .main-cont{
    padding-top:12vh;
  }
  .head-side{
    left:14vw;
    top:6vh;
  

  }
   .log-link{
    left:1vw;
  }
   .emer{
   
  
    top:2vh;
    left:70vw;
  }
     .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
   
  }
  
 }
  @media(((min-width:1175px) and (max-width:1185px) ) and ((min-height:819px) and (max-height:825px) ) ){
     .emer{
   
  
    top:5vh;
    left:78vw;
  }

  }
  @media(((min-width:1359px) and (max-width:1370px) ) and ((min-height:1015px) and (max-height:1030px) ) ){
    .header{
     
      height:18vh;
    }
    .main-cont{
      padding-top:18vh;
    }
    .img-h{
      width:65px;
      height:65px;
    }
    .link-h{

   
   
    

    }
    .haf{
      font-size:40px;
    }
    .amb,.pfl{
      font-size:23px;
    }
      .head-side{
    left:28vw;
    top:8vh;
  

  }



  }
   @media(((min-width:1015px) and (max-width:1030px) ) and ((min-height:1359px) and (max-height:1370px) ) ){
    .header{
   
      height:12vh!important;
      
    }
    .head-side{
    left:25vw;
    top:6vh!important;
  

  }
   .emer{
   
  
    top:2vh;
    left:70vw;
  }
     .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
   
  }
  .main-cont{
    padding-top:12vh;
  }

   }
    @media(((min-width:905px) and (max-width:915px) ) and ((min-height:1359px) and (max-height:1380px) ) ){

      .header{
 
    height:12vh!important;
  }
  .main-cont{
    padding-top:12vh !important;
  }
  .head-side{
    left:18vw;
    top:6vh;
  

  }
  .log-link{
    left:4vw;
  }
   .emer{
   
  
    top:2vh;
    left:70vw;
  }
     .link-h{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    
   
  }

    }

    @media(((min-width:1359px) and (max-width:1380px) ) and ((min-height:905px) and (max-height:915px) ) ){
      .header{
     
      height:20vh;
      
    }
    .main-cont{
      padding-top:20vh;
    }
   .link-h{
    font-size: 12px;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content: center;
    ;


   
   
    

    }
    .head-side{
    left:22vw;
    top:10vh;
  

  }
  .log-link{
    left:4vw;
  }
    .haf{
      font-size:3rem;
    }
    .amb,.pfl{
      font-size:1.5rem;
    }
    .emer{
   
  
    top:5vh;
    left:70vw;
    font-size:20px;
  }
  .btn-emer{
    width:15rem;
  }
  .titles{
    font-size:25px;
  }



    }

   @media(((min-width:850px) and (max-width:859px) ) and ((min-height:1279px) and (max-height:1289px) ) ){
    .header{
      
      height:12vh;
    }
    .main-cont{
      padding-top:12vh;
    }
     .head-side{
    left:14vw;
    top:6vh;
  

  }
  .titles{
    font-size:18px;
   
  }
 .link-h{
    font-size: 12px;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content: center;
    ;


   
   
    

    }

  
  .log-link{
    left:1vw;
  }
    .haf{
      font-size:30px;
    }
    .amb,.pfl{
      font-size:16px;
    }
    .emer{
   
  
    top:5vh;
    left:70vw;
    font-size:20px;
  }
  .btn-emer{
    width:15rem;
  }

   }
    @media(((min-width:1279px) and (max-width:1289px) ) and ((min-height:850px) and (max-height:859px) ) ){

        .haf{
      font-size:3rem;
    }
    .amb,.pfl{
      font-size:1.5rem;
    }
    .titles{
      font-size:27px;
    }
        .head-side{
    left:28vw;
    top:12vh;
  

  }
  .header{
    height:21vh;
  }
  .titles{
    font-size:18px;
   
  }
  .link-h{
    font-size: 12px;


   
   
    

    }

  
  .log-link{
    left:4vw;
  }
    .emer{
   
  
    top:3vh;
    left:72vw;
    font-size:20px;
  }
  .btn-emer{
    width:17rem;
    font-size:23px;
  }

    }
@media(min-width:1019px) and (max-width:1030){
  .header{

    height:25vh;
  }
   .emer{
   
  
    top:3vh;
    left:72vw;
    font-size:20px;
  }
  .main-cont{
    padding-top:25vh;
  }
  .btn-emer{
    width:17rem;
    font-size:23px;
  }
      .head-side{
    left:16vw;
    top:12vh;
  

  }
  .titles{
    font-size:18px;
   
  }
  .link-h{
    font-size: 12px;
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content: center;
    ;


   
   
    

    }

  
  .log-link{
    left:4vw;
  }

}
  








